# https://docs.docker.com/reference/compose-file/
# https://docs.docker.com/compose/how-tos/environment-variables/variable-interpolation/
services:
  devtools:
    restart: never
    profiles:
      - devtools
    build:
      # https://docs.docker.com/reference/compose-file/build/
      context: devtools
      dockerfile: Dockerfile
      cache_to:
        - ${DOCKER_BUILDKIT_CACHE_TO:-}
      cache_from:
        - ${DOCKER_BUILDKIT_CACHE_FROM:-}
    working_dir: /srv/workspace
    volumes:
      - .:/srv/workspace:z
      - ${XDG_CACHE_HOME:-xdg-cache-home}:/root/.cache
      - devtools-venv:/srv/workspace/.venv
      - dot-mypy-cache:/srv/workspace/.mypy_cache
      - dot-pytest-cache:/srv/workspace/.pytest_cache
      - dot-ruff-cache:/srv/workspace/.ruff_cache
      - dot-tox:/srv/workspace/.tox
  renovate:
    image: docker.io/renovate/renovate:latest@sha256:449916edcb2df51c21cb676739f67b2eaa06dc6a151f38fc22a74c43cb33ede7
    profiles:
      - renovate
    restart: "no"
    environment:
      # https://docs.renovatebot.com/config-overview/#logging-variables
      RENOVATE_TOKEN: ${RENOVATE_TOKEN}
      RENOVATE_GITHUB_ACTIONS_TOKEN: ${RENOVATE_GITHUB_ACTIONS_TOKEN}
      RENOVATE_CONFIG_FILE: /srv/workspace/renovate-global.json5
      RENOVATE_REPOSITORY_CACHE: ${RENOVATE_REPOSITORY_CACHE:-enabled}
      RENOVATE_AUTO_APPROVE: ${RENOVATE_AUTO_APPROVE:-false}
      LOG_LEVEL: ${RENOVATE_LOG_LEVEL:-info}
      RENOVATE_DRY_RUN: ${RENOVATE_DRY_RUN:-}
    volumes:
      - .:/srv/workspace
      - renovate-tmp:/tmp/renovate
    entrypoint:
      - bash
      - -c
      - |
        set -Eeuo pipefail

        mkdir -vp "$${HOME}/.config/git/hooks"
        git config --global core.hooksPath "$${HOME}/.config/git/hooks"
        cp -v /srv/workspace/devtools/renovate/githooks/* "$${HOME}/.config/git/hooks/"
        chmod -R -v +x "$${HOME}/.config/git/hooks/"

        exec "$${0}" "$${@}"
    command:
      - bash
      - -c
      - |
        set -Eeuo pipefail

        declare -p LOG_LEVEL RENOVATE_REPOSITORY_CACHE RENOVATE_AUTO_APPROVE RENOVATE_DRY_RUN >&2

        echo -n > /tmp/renovate/branches.ndjson

        # Code below comes from:
        # docker run --rm -i docker.io/renovate/renovate:latest cat /usr/local/sbin/renovate-entrypoint.sh
        # docker run --rm -i docker.io/renovate/renovate:latest cat /usr/local/sbin/docker-entrypoint.sh

        export GIT_TRACE=/tmp/renovate/git-trace.log
        echo -n > /tmp/renovate/git-trace.log
        echo -n > /tmp/renovate/githooks-output.log

        dump_logs() {
          if [ "$${LOG_LEVEL}" == "debug" ]; then
            echo "GIT_TRACE logs:" >&2
            cat /tmp/renovate/git-trace.log >&2
            echo "GITHOOKS_OUTPUT logs:" >&2
            cat /tmp/renovate/githooks-output.log >&2
          fi
        }

        trap dump_logs EXIT

        source /usr/local/etc/env
        renovate

        /srv/workspace/devtools/renovate/postprocess.sh

        echo "Renovate finished successfully." >&2
volumes:
  xdg-cache-home: {}
  # dot-venv: {}
  dot-mypy-cache: {}
  dot-pytest-cache: {}
  dot-ruff-cache: {}
  dot-tox: {}
  renovate-tmp: {}
  empty: {}
  devtools-venv: {}
